<html>
  <head>
    <title>Boxsetter</title>
  </head>
  <body>
	  <form method="post">
    <table>
    <% @objects.each do |obj| %>
     	<%= erb :obj_html, :locals => {:obj => obj} %>
    <% end %>
    </table>
    <input type="submit">
    </form>
  </body>
</html>

